<header>
    <form method='post' action='/search'>
        <h2>Search Pokemon</h2>
        <div class="group"> 
            <input name="search" type="text" placeholder="Pokemon Name" id="name">
            <label for="name">Pokemon Name</label>
        </div>
    </form>
</header>